
body{
	position: relative;
}


.container{
	position: absolute;
	left: 0px;
	top: 0px;
}

ul{
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #FFFFFF;
	list-style-type: none;
	border-bottom: solid 2px  #FB5656;
	z-index: 2
}

li{
	float: right;
}

li a{
	display: block;
	color: #FB5656;
	text-align: center;
	padding: 40px 38px;
	text-decoration: none;
	font-size: 20px;
}

li a:hover{
	background-color: #FB5656;
	color: white;
	text-decoration: none;
}

li a img{
	width: 140px;
	height: 100%;
	position: absolute;
}


.logo{
	padding: 0px;
	float: left;
	margin-left: 30px;
}

.logo:hover{
	background-color: #FFFFFF;
	color: #FB5656;
}

#CompanyName{
	left: 160px;
	color: #FB5656;
	position: absolute;
	font-size: 28px;
	display: block;
	padding: 30px 45px;
}

.video-container{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 7em;

}

video{
	width: 100%;
	border-bottom: 2px solid #FB5656;
}


#play{
	
	height: 85px;
	width: 320px;
	border-radius: 39.5px;
	left: 32.31em;
	position: absolute;
	border: 2px solid #FB5656;
	background-color: transparent;
	/*z-index: 10;*/
}

#replay{
	
	height: 85px;
	width: 320px;
	border-radius: 39.5px;
	left: 32.31em;
	position: absolute;
	border: 2px solid #FB5656;
	background-color: transparent;
	display: none;
}


.button-container{
	display: block;
	background-color: red;
	width: 100%;
	z-index: 10;
	position: relative;
	top: 375px;
}

#text-container1{
	position: absolute;
	top: 54em;
	left: 4em;
	width: 32em;
	color: #FB5656;
}

#text-container2{
	position: absolute;
	top: 54em;
	right: 4em;
	width: 32em;
	color: #FB5656;
}